/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}
.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "opsz" 14,
        "wght" 400,
        "ital" 0,
        "wdth" 100;
}

/* common css style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Noto Serif", serif;
    color: #000000;
}
span {
    color: #E95A08;
}
p {
    color: rgba(0, 0, 0, 0.5);
}
ul {
    list-style: none;
}
img {
    width: 100%;
    height: auto;
}
a {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
a:hover {
    color: #E95A08;
}
button {
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #E95A08;
    border: none;
    padding: 10px 20px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
button:hover {
    background-color: #000000;
    color: #E95A08;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.active {
    color: #252432 !important;
    font-weight: 600;
}

/* Header Section style */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.cart-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: #000000;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.shopping-cart{
    color: #000000;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.shopping-cart:hover {
    color: #E95A08;
}
.cart-count{
    color: #000000;
}
/* Banner Section style */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 20px;
    margin: 50px 0;
}
.banner-content {
    flex: 1;
    max-width: 600px;
}
.banner-title {
    font-size: 65px;
    font-weight: 800;
    margin-bottom: 20px;
}
.banner-title-highlight {
    color: #E95A08;
}
.banner-description {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0px;
}
.banner-image {
    display: flex;
    max-width: 600px;
}


/* Our Product Section */

.our-products {
    margin-top: 100px;
}

.section-header{
    text-align: center;
    margin: 50px 0;
}
.section-title{
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 10px;
}
.section-description{
    font-size: 18px;
    font-weight: 400;
    max-width: 800px;
    margin: 0 auto;
}
.all-products{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 50px 0;
}
.product-card {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.product-card:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
}
.product-card img{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
}
.product-title {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 5px;
}
.product-price {
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}
.add-to-cart {
    width: 100%;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
/* Trusted Seller Section style */

.trusted-seller{
    margin: 150px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 20px;
}
.trusted-seller-image {
    max-width: 550px;
    position: relative;
    display: flex;
    justify-content: end;
}
.trusted-badge {
    max-width: 200px;
    height: auto;
    width: 100%;
    height: auto;
    border-radius: 10px;
    position: absolute;
    top: -100px;
    right: -100px;
    animation: spin 10s linear infinite;
}
/* Animation Spin infinite */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    
}
.trusted-seller-content {
    max-width: 550px;
}
.trusted-seller-title{
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 10px;
    line-height: 1.2em;
}
.trusted-seller-list{
    list-style: disc;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
    margin-left: 24px;
}
.trusted-seller-list li p{
    font-size: 18px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}
.trusted-seller-content ul li::marker{
    color: #E95A08;
}
/* Latest Deals Section */


/* Footer Section */

/* newsletter Container Style */
.newsletter-container {
    background-image: url('./assets/news-letter-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 550px;
    display: flex;
    gap: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.newsletter-content {
    max-width: 800px;
    width: 100%;

}
.newsletter-title {
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 30px;
}
.newsletter-form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
}
.newsletter-form input{
    padding: 15px;
    width: 100%;
    border: 1px solid transparent;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    background-color: #FFFFFF;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.newsletter-form input:focus{
    outline: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.newsletter-btn{
    padding: 15px 30px;
    border: 2px solid transparent;
}

/* footer-container style */
.footer-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 20px;
    padding: 50px 0;

}
.footer-logo{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-logo a img {
    width: 135px;
}
.footer-logo-description{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}
.footer-links-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-social-links{
    display: flex;
    justify-content: center;
    gap: 20px;
    }
.footer-social-links img {
    width: 24px;
    height: 24px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.footer-social-links img:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}


















/* 1st of all Media Query for mobile device */
@media (max-width: 768px) {
    .header{
        margin: 0 20px;
    }
    .menu {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
    .navbar{
        display: none;
    }
    .cart-icon{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .logo {
        width: 100px;
    }
    .shopping-cart {
        font-size: 14px;
    }
    .cart-count {
        font-size: 12px;
    }
    .banner {
        flex-direction: column;
        align-items: center;
        margin: 0px;
    }
    .banner-image{
        order: 1;
    }
    .banner-content {
        order: 2;
        padding: 0 20px;
    }
    .banner-title {
        font-size: 24px;
    }
    .banner-description {
        font-size: 14px;
    }

    /* Product Section style */
    .our-products {
        margin-top: 50px;
        padding: 0 20px;
    }
    .section-title{
        font-size: 24px;
    }
    .all-products{
        grid-template-columns: repeat(2, 1fr);
    }
    .section-description{
        font-size: 14px;
    }
    /* Trusted Seller Section style */
    .trusted-seller {
        margin: 50px 0;
        grid-template-columns: 1fr;
        padding: 0 20px;
    }
    .trusted-badge{
        display: none;
    }
    .trusted-seller-title {
        font-size: 24px;
    }
















    /* Footer Section style */
    /* newsletter Container Style */
    .newsletter-container{
        height: 350px;
    }
    .newsletter-title {
        font-size: 24px;
    }
    .newsletter-form input{
        padding: 10px;
        font-size: 14px;
    }
    .newsletter-btn{
        padding: 10px 20px;
    }
    .newsletter-content {
        max-width: 350px;
        width: 100%;
    }
    .footer-container {
    grid-template-columns: repeat(1, 1fr);
    justify-items: start;
    padding: 30px 20px;
}
